body {
  font-family: "Poppins", sans-serif;
  color: #EABE6C;
}

nav {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1d000d;
}

nav form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}